body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Matemasie', sans-serif; 
    
}

#right {
    position: relative;
    display: flex;
    align-items: center; 
    padding: 1vh;
    z-index: 5;
    flex-wrap: wrap;

}

#logofing {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 2vw; 
}

#logo {
    border-radius: 50%;
    width: 20vw;
    height: auto;
}


#text-container {
    text-align: center; 
}

#logotext {
    color: peru;
    font-family: 'Times New Roman';
    font-weight: bolder;
    margin-left: -10%;
    font-size: 2rem;
    
}

#othertext {
    color:coral;
    font-weight: bold;
    margin-left: -10%;
    font-size: 1.5rem;
    
}

.r {
    color: indianred;
   
font-family: 'matemasie';
   
    font-family: caption;
    font-size: 5vw;
    font-style: oblique;
    font-weight: 700;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-48%);
    text-align: center;
}


.o{
    font-style: oblique;
    margin-top: 13%;
    font-size: 2vw;
    margin-left: 17%;
    color:lightsalmon;
    font-weight: bold;
}
#buttons{
    
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 30%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;


 
}
#buttons button{
    background-color: black;
    color: crimson;
    font-weight: 500;
    font-size: 1.1rem;
    height: 3.5vh;
    width: 20vw;
    border: none;
    cursor: pointer;

}


#buttons button:hover{

background-color: grey;
color: azure;
}


#bgio{
    margin: 0;
    padding: 0;
   position: relative;
    height: 60vh;
}

#aboutbg{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-image: url('book.png');
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    
}
.head{
    margin-left: 20%;
    color: maroon;
    text-decoration: overline;
    font-size: 3rem;
}

.i{
   display: flex;
   margin-left: 15%;
   margin-right: 10%;
   
   
}

#socialmedia {
    position: relative;
    text-align: left;
    margin-bottom: 0;
    padding: 10% 0;
    width: 100%;
    height: 30%;
    align-items: flex-end; 
    transition: color 0.3s ease;
}

#socialmedia a {
    margin: 0 1vw;
    transition: color 0.3s ease;
    z-index: 1;
    font-size: 2rem;
   
}
#footer-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  
    z-index: -1;
    opacity: 0.7;
}

#socialmedia a:hover {
    color: #007bff;
}
.face{
    color: #007bff;
}
.insta{
  color: red;
}
.twit{
    color: blue;
}
.link{
    color: blue;
}

#footer-content {
    font-size: 1.3rem;
    position: absolute;
    padding: 2vh; 
    color:black;
    z-index: 1; 
    bottom: -1%; 
    left: -1%;
}
#books{
    position: absolute;
    right: 0;
}



.po{
width:45%;
text-align: 25%;
font-size: 1.2rem;
color: dimgray;
font-weight: bold;

}
.p{
  width:45%;
  margin-left: 45%;
  font-size: 1.2rem;
  color:black;
}
.c{
    display: flex;
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 1%;
}
.h22{
    width:45%;
    text-align:15%;
    font-size: 1.2rem;
    color:dimgray;
    font-weight: bold;
    
    }
    .ph{
      width:45%;
      margin-left: 13%;
      font-size: 1.2rem;
      color:black;

    }
.home-icon{
    color:brown;
    position: absolute;
    right: 13%;
    font-size: 2rem;
    
}
.home-icon:hover{
    color: antiquewhite;
}
#hand{
    margin-left: 90%;
    margin-top: -46%;
    font-size: 2rem;
}
#hand2{
    margin-left: 50%;
    margin-top: -60%;
    font-size: 2rem;
}
.con{
    position: absolute;
    right:0;
    bottom: 20%;
    text-align: center;
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    #footer{
        height: 15vh;
    }
    .i{
        
        margin-left: 15%;
        margin-right: 10%;
        
        
     }
     .po{
        font-size: 1rem;
        margin-left: 20%;
     }
     
    .p{
        width:45%;
        margin-left: 55%;
        font-size: 0.9rem;
       
      }
      .c{
        
          margin-left: 30%;
          margin-right: 10%;
          margin-top: 1%;
      }
      .h22{
          width:45%;
          text-align:15%;
          font-size: 1rem;
          
          }
          .ph{
            width:45%;
            margin-left: 20%;
            font-size: 0.9rem;
          
      
          }

    #hand{
        margin-left: 90%;
        margin-top: -46%;
        font-size: 2rem;
    }
    #hand2{
        margin-left: 50%;
        margin-top: -60%;
        font-size: 2rem;
    }
    .head{
        margin-left: 35%;
       
        font-size: 1.5rem;
    }
    
    .home-icon{
        color:brown;
        position: absolute;
        right: 5%;
        font-size: 1rem;
        
    }
    
    #bgio{
        width:150vw
    }
    #aboutbg{
        margin: 0;
        padding: 0;
        width: 150vw;
        position: relative;
        background-image: url('book.png');
        flex-wrap: wrap;
        background-size: cover;
        background-attachment: fixed;
        height: 110vh;
        
    }
    #sign{
        font-size: 0.5rem;
        width: 50;
    }
    .con{
        position: absolute;
        right:0;
        bottom: -30%;
        text-align: center;
        font-size: 0.7rem;
    }
    #socialmedia {
        position: relative;
        text-align: left;
        margin-bottom: 0;
        padding: 5% 0;
        width: 100%;
        height: 30%;
        align-items: flex-end; 
        transition: color 0.3s ease;
    }
    #footer-content {
        font-size: 1.3rem;
        position: absolute;
    
        color:black;
        z-index: 1; 
        bottom: -40%; 
        left: -1.9%;
    }
    
    #socialmedia a {
        margin: 0 1vw;
        transition: color 0.3s ease;
        z-index: 1;
        font-size: 1rem;
        bottom: 10%;
       
    }
    #logotext, #othertext {
        font-size: 0.5rem;
    }

    .r {
        top: 20%;
        font-size: 5vw;
    }
   .contact{
    font-size: 0.7rem;
    margin-bottom: 5%;
   }

    #buttons button {
        width: 30vw;
        font-size: 0.7rem;
      
          
            font-weight: 500;
           
            height: 4.3vh;
            width: 25vw;
            border: none;
            cursor: pointer;
    
        
        
    }

    #footer-content {
        font-size: 1rem;
    }
}

    
    
    
   
